/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.circulo{
	width:100px;
	height:100px;
	border-radius: 50px;
	background: #7db9e8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #7db9e8 0%,#1e5799 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 0%,#1e5799 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #7db9e8 0%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#rectangulo{
	width: 100%;
	padding:20px;
}
img{
	width:100%;
}
body{
	background-image: url("pattern.png");
}